main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}
main form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    background-color: #f1f1f1;
    padding: 1rem;
    border-radius: 0.8rem;
}
main form input {
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}
main form button {
    background-color: rgb(240, 164, 24);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0.5rem;
    cursor: pointer;
}