<main>
    <form action="/admin/add-product" method="POST" class="product-form">
        <div class="form-control">
            <input type="text" name="title" />
            <button type="submit">Add Product</button>
        </div>
    </form>
</main>