<%- include('../includes/header.ejs') %>


    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>

            </main>
    </body>


    <%- include('../includes/end.ejs') %>