<main>
    <form action="/admin/add-product" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Name" />
        </div>
        <button type="submit">Submit</button>
    </form>
    </div>
</main>