<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/" class="<% path === '/' ? 'active' : '' %>">Shop</a></li>
            <li class="main-header__item"><a href="/product-list" class="<% path === '/product-list' ? 'active' : '' %>">Products</a></li>
            <li class="main-header__item"><a href="/cart" class="<% path === '/cart' ? 'active' : '' %>">Cart</a></li>
            <li class="main-header__item"><a href="/order" class="<% path === '/order' ? 'active' : '' %>">Order</a></li>
            <li class="main-header__item"><a href="/admin/add-product" class="<% path === '/admin/add-product' ? 'active' : '' %>">Add Product</a></li>
            <li class="main-header__item"><a href="/admin/product-list" class="<% path === '/admin/product-list' ? 'active' : '' %>">Admin Product List</a></li>
        </ul>
    </nav>
</header>