<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pagetitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if productCss}}
    <link rel="stylesheet" href="/css/product.css">
    {{/if}}
    {{#if formCss}}
    <link rel="stylesheet" href="/css/add-product.css">
    {{/if}}
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/" class="{{#if shopActive}} active{{else}}menu{{/if}}">Shop</a>
                </li>
                <li class="main-header__item"><a href="/admin/add-product"
                        class="{{#if addProductActive}} active{{else}}menu{{/if}}">Add product</a>
                </li>
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>

</html>